In [33]:
!pip install PyCap

Requirement already satisfied: PyCap in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: semantic-version<3.0.0,>=2.8.5 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from PyCap) (2.10.0)
Requirement already satisfied: requests<3.0,>=2.20 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from PyCap) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from requests<3.0,>=2.20->PyCap) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from requests<3.0,>=2.20->PyCap) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from requests<3.0,>=2.20->PyCap) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\muzammil.hashmi\anaconda3\lib\site-packages (from requests<3.0,>=2.20->PyCap) (2.0.4)

In [38]:
from redcap import Project
import pandas as pd

# Define your REDCap URL and API token
REDCAP_URL = 'https://vredcap.aku.edu/redcap/api/'
API_TOKEN = 'EBBDE24FD6AB103260A018339C8FF624'  # Ensure this token has the correct permissions

# Initialize the Project
project = Project(REDCAP_URL, API_TOKEN)

# Export records with labels
data = project.export_records(format_type='csv', raw_or_label='label', raw_or_label_headers='label')

# Convert data to a pandas DataFrame
df = pd.DataFrame([x.split(',') for x in data.split('\n')])

# Assuming the first row is the header
df.columns = df.iloc[0]
df = df[1:]

# Save data to a CSV file
df.to_csv('Death-Information-form_data_with_labels.csv', index=False)

print("Data extraction complete. Data saved to Death-Information-form_data_with_labels.csv.")

Data extraction complete. Data saved to Death-Information-form_data_with_labels.csv.

In [43]:
datadeathinfo = pd.read_csv("Death-Information-form_data_with_labels.csv", encoding='utf-8-sig')

In [44]:
datadeathinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   "Record ID"                                                                                25 non-null     float64
 1   "Site "                                                                                    23 non-null     object
 2   Para                                                                                       23 non-null     object
 3   Block                                                                                      23 non-null     float64
 4   Structure                                                                                  23 non-null     object
 5   "Q.1. Did any death of above 5 years occur in your household from Jan 2023 to Dec 2023? "  25 non-null     object
 6   "Q.2. What was the gender of the deceased?  "                                              25 non-null     object
 7   "Q.3. What was the name of the deceased?"                                                  25 non-null     object
 8   "Q.4. What was the age of the deceased ?Age in Years"                                      25 non-null     float64
 9   "Q.5. When did the deceased die ? "                                                        25 non-null     object
 10  Complete?                                                                                  25 non-null     object
dtypes: float64(3), object(8)
memory usage: 2.4+ KB

In [48]:
datadeathinfo.head(26)

,"""Record ID""","""Site """,Para,Block,Structure,"""Q.1. Did any death of above 5 years occur in your household from Jan 2023 to Dec 2023? ""","""Q.2. What was the gender of the deceased? ""","""Q.3. What was the name of the deceased?""","""Q.4. What was the age of the deceased ?Age in Years""","""Q.5. When did the deceased die ? """,Complete?
0,1.0,NaN,NaN,NaN,NaN,Yes,Male,Muzammil,26.0,2024-11-07,Incomplete
1,2.0,NaN,NaN,NaN,NaN,Yes,Male,Muzammil,26.0,2023-10-01,Incomplete
2,3.0,Rg,Ia,54.0,67,Yes,Male,Test,6.0,2023-09-05,Incomplete
3,4.0,Rg,Ds,5.0,34,Yes,Female,Test,6.0,2023-04-11,Incomplete
4,5.0,Rg,Dp,1.0,23,Yes,Male,Altaf,9.0,2023-04-18,Complete
5,6.0,Rg,Dp,1.0,3,Yes,Male,Shehbaz,9.0,2023-05-25,Incomplete
6,7.0,Rg,Dp,1.0,36s1,Yes,Male,Shehbaz,9.0,2023-05-25,Complete
7,8.0,Rg,Dp,1.0,98,Yes,Male,"""Jan muhammad""",70.0,2023-10-03,Complete
8,9.0,Rg,Dp,1.0,100s1,Yes,Female,Kulsoom,80.0,2023-09-17,Incomplete
9,10.0,Rg,Dp,1.0,100s1,Yes,Female,Kulsoom,80.0,2023-09-17,Complete
10,11.0,Rg,Dp,1.0,178,Yes,Male,"""Abu dablo""",74.0,2023-10-23,Complete
11,12.0,Rg,Dp,1.0,185,Yes,Female,Jumri,80.0,2023-10-15,Complete
12,13.0,Rg,Dp,2.0,48,Yes,Male,Ali,65.0,2023-03-03,Complete
13,14.0,Rg,Dp,1.0,83,Yes,Male,"""Ali hassan""",50.0,2023-02-09,Complete
14,15.0,Rg,Dp,1.0,118,Yes,Male,"""Ali muhammad""",70.0,2023-06-15,Complete
15,16.0,Rg,Pp,3.0,179,Yes,Male,"""Ali muhammad""",55.0,2023-10-02,Complete
16,17.0,Rg,Pp,4.0,22,Yes,Female,Ayesha,80.0,2023-10-15,Complete
17,18.0,Rg,Pp,4.0,88,Yes,Female,Rehmat,49.0,2023-01-15,Complete
18,19.0,Rg,Pp,4.0,60,Yes,Male,"""Abdul rasheed""",38.0,2023-03-01,Complete
19,20.0,Rg,Pp,3.0,162s5a,Yes,Female,Ayesha,13.0,2023-03-05,Complete
20,21.0,Rg,Pp,4.0,111,Yes,Female,Maryam,55.0,2023-03-15,Complete
21,22.0,Rg,Qp,5.0,37,Yes,Male,Hussain,61.0,2023-02-08,Complete
22,23.0,Rg,Qp,5.0,18,Yes,Male,Ishaq,95.0,2023-06-15,Complete
23,24.0,Rg,Qp,5.0,31,Yes,Female,Amna,65.0,2023-05-25,Complete
24,25.0,Rg,Qp,5.0,118,Yes,Female,Khadija,70.0,2023-01-15,Complete
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN